#StreamingChart svg {
  cursor: crosshair;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#StreamingChart svg .chart {
  clip-path: url('#StreamChartClip');
}

.charts, .charts div {
  margin: 0 0 0 0;
}

.captured {
  clip-path: url('#StreamChartClip');
}

.cell {
  stroke: #E6E6E6;
  stroke-width: 1px;
}

.bar {
  fill: #1c5b5a;
}

.proxy {
  fill: #1c5b5a;
}

.point {
  fill: #21f0b6;
}

#columnLayout {
	column-width: 320px;
	column-gap: 15px;
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

div#columnLayout figure {
	column-break-inside: avoid;
}

@media screen and (max-width: 750px) {
	#columnLayout {
		column-gap: 0px;
	}

	#columnLayout figure {
		width: 100%;
	}
}

figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	border-radius: 5px;
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity 0.4s ease-in-out;
	display: inline-block;
	width: auto;
}

figure img {
	margin: auto;
	height: auto;
	padding-bottom: 15px;
	margin-bottom: 5px;
	display: inline-block;
	max-width: 230px;
	max-height: 300px;
	width: auto;
	height: auto;
}

figure .title {
  margin: 0 0 0 0;
}

figure .text {
	padding: 0 0 0 0;
	margin: 0 0 1px 0;
}

.picContainer, .textContainer, .textContainer * {
  display: inline-block;
}
